
upstream cluster {
{{range "API" | env | split -}}
    server {{.}};
{{- end}}
}

server {
        listen 8080;
        server_name _;
        root /usr/share/nginx/html;

        proxy_http_version      1.1;
        proxy_set_header        Connection          "";
        {{if "KONG_KEY" | env}}
        proxy_set_header        apikey              {{"KONG_KEY" | env}};
        {{end}}
        {{if "KONG_HOST" | env}}
        proxy_set_header        Host                {{"KONG_HOST" | env}};
        {{end}}
        {{if "LOG_CLIENT" | env}}
        proxy_set_header        x-client            {{"LOG_CLIENT" | env}};
        {{end}}
        proxy_set_header        x-forwarded-for     $proxy_add_x_forwarded_for;
        proxy_set_header        x-request-id        $http_x_request_id;

        location /apps {
                proxy_pass  {{"PROTOCOL" | env}}://cluster;
        }

        location /api {
                proxy_pass  {{"PROTOCOL" | env}}://cluster;
        }

        location /x/ {
                proxy_pass  http://127.0.0.1:8787;
        }

        location /static {
                expires     7d;
        }

        location / {
                expires     -1;
                rewrite     ^.*$ /static/{{"PROJECT_NAME" | env}}/index.html    break;
        }

}
